.nav-extended {
    background-color: #ffffff;
    font-size: 14px;
}

.brand-logo {
	color: #000000 !important;
}

.active {
	background-color: white !important;
	color: black !important;
	font-weight: bolder;
	border-bottom: 2px solid black !important;
}

.tab {
	background-color: white !important;
}

.tab a {
	color: black !important;
}