{% extends 'base.html' %}
{% block content %}
<br>
<div class="row">
  <div class="col s2">
    <form action="#" id='id1'>
        <p>
          <label>
            <input class="with-gap" name="dataset" type="radio" value='cnn'/>
            <span>CNN</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="dataset" type="radio" value='giga'/>
            <span>GIGAWORD</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="dataset" type="radio" value='free'/>
            <span>FREEPRESSJOURNAL</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="dataset" type="radio" value='dat1'/>
            <span>DATASET-2</span>
          </label>
        </p>
    </form>
    </div>
    <div class="col s10">
    <table id="table1">
    </table>
    </div>
    </div>
    <br>
    <div class='row'>
      <img class = 'col s4' onerror="this.style.display = 'none'" id='img1'>
      <img class = 'col s4' onerror="this.style.display = 'none'" id='img2'>
      <img class = 'col s4' onerror="this.style.display = 'none'" id='img3'>
    </div>
    <div class='row'>
      <img class = 'col s4 offset-s1' onerror="this.style.display = 'none'" id='img4'>
      <img class = 'col s4 offset-s1' onerror="this.style.display = 'none'" id='img5'>
    </div>
    <script src='{{ url_for("static", filename = "js/visualize.js")}}'></script>
{% endblock %}